<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lms">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LMS">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.lms.LoginActivity"/>
        <activity android:name="com.example.lms.SignUpActivity"/>
        <activity android:name="com.example.lms.LoginSuccessActivity"/>
        <activity android:name="com.example.lms.LoginEmailActivity"/>
        <activity android:name="com.example.lms.LoginPasswordActivity"/>
        <activity android:name="com.example.lms.SignUpEmailActivity"/>
        <activity android:name="com.example.lms.SignUpNameActivity"/>
        <activity android:name="com.example.lms.SignUpUnivActivity"/>
        <activity android:name="com.example.lms.SignUpSsnActivity"/>
        <activity android:name="com.example.lms.SignUpPasswordActivity"/>
        <activity android:name="com.example.lms.SignUpSaveActivity"/>
        <activity android:name="com.example.lms.SignUpSuccessActivity"/>
        <activity android:name="com.example.lms.MainAgreeActivity"/>
        <activity android:name="com.example.lms.SplashActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>