* {
  font-family: 맑은고딕;
  font-weight: bold;
}

#wrap {
  width: 400px;
  height: 300px;
  border: 1px solid lightskyblue;
  border-radius: 5px;
  background-color: skyblue;
}

.login_form {
  padding: 20px 50px;
}

input {
  margin-bottom: 14px;
  width: 290px;
  height: 30px;
  font-size: 16px;
  border: lightgray;
}

button {
  width: 294px;
  height: 50px;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid whitesmoke;
}